<div class="block-provus-stat-item stat-group-item">
  <div class="stat-group-icon">
    {% if icon.src %}
      <img src="{{ icon.src }}" alt="{{ icon.alt }}" width="64" height="64">
    {% endif %}
  </div>
  <div class="stat-group-number">
    {{ title }}
  </div>
  <div class="stat-group-text">
    {{ body }}
  </div>
</div>