<div class="pricing-toggle" {{ attributes }}>
  <button class="pricing-toggle__tab pricing-toggle__tab--active">
    {{ tab_1_text|default('Early') }}
  </button>
  <button class="pricing-toggle__tab">
    {{ tab_2_text|default('Standard') }}
  </button>
</div>
