<div class="tabs tabs--{{ orientation }}" id="{{ id }}" data-tabs>
  <div class="tabs__nav" data-tabs-nav></div>
  <div class="tabs__content" data-tabs-content>
    {% block tabs_content %}
    {% endblock %}
  </div>
</div>
