<div class="timeline-item">
	<div class="timeline-item__marker">
		<div class="timeline-item__dot"></div>
		<div class="timeline-item__line"></div>
	</div>
	<div class="timeline-item__content">
		{% if time %}
			<div class="timeline-item__time">{{ time }}</div>
		{% endif %}
		{% if title %}
			<h3 class="timeline-item__title">{{ title }}</h3>
		{% endif %}
		{% if description %}
			<div class="timeline-item__description">{{ description }}</div>
		{% endif %}
	</div>
</div>