{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available 
 * -  Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
  <nav class="breadcrumb-nav" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 class="visually-hidden" id="system-breadcrumb">{{ 'Breadcrumb'|t }}</h2>
    {{ include('pulse_theme:space-breadcrumb', {
      items: breadcrumb,
    }, only) }}
  </nav>
{% endif %}

