{#
/**
 * @file
 * Default twig file for providing a time range form element.
 *
 * Available variables:
 * - attributes: HTML attributes for the parent form element.
 * - start_value: The start time element.
 * - end_value: The end time element.
 */
#}

<div{{ attributes }}>
  <div class="custom-field-element-flex">
    {{ start_value }}
    {{ end_value }}
  </div>
</div>
